# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# node file version
.tool-versions
.nvm

# Dependency directories
node_modules/

# Dotenv file
.env
.env.test

# Database file
database/db.sqlite

# Dist folder
dist